html{
    width:100%;
    background-color: black;
}
body{
    color:White
}
.imagemap{
    width:100%;
}
section{
    margin-top:20px;
}

.fotoasfalt{
    background-image:url(../Imatges/FotosMapImage/fotoasfalt.png);
    width:100%;
    height:auto;
}
.fotosol{
    background-image:url(../Imatges/FotosMapImage/fotosol.png);
    width:100%;
    height:auto;
}
.foto296{
    background-image:url(../Imatges/FotosMapImage/foto296.png);
    width:100%;
    height:auto;
}
.fotosunset{
    background-image:url(../Imatges/FotosMapImage/fotosunset.png);
    width:100%;
    height:auto;
}
.fotobrands{
    background-image:url(../Imatges/FotosMapImage/fotobrands.png);
    width:100%;
    height:auto;
}